<!DOCTYPE html>
<html>
<head>
	<title>PAGE POTIN</title>
</head>
<body><center>
	<h1> Editer votre potin<%= params[:id]% ></h1>
	<p>
		son auteur : <%= gossip.author %> <br/>
		le contenu du potin : <%= gossip.content %><br>
		<h2>les commentaire</h2>
        <textarea></textarea>
</center>
</body>
</html>